################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teste_Stage/BackEnd/.vs/Teste_Stage/FileContentIndex
